<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799470257929-0hljc4sh20vims931rc0mf6l2vr1a6i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799470257929-0hljc4sh20vims931rc0mf6l2vr1a6i7</string>
	<key>API_KEY</key>
	<string>AIzaSyC7hsx8xloiibfusW7hWkbz1W8cNlZwro8</string>
	<key>GCM_SENDER_ID</key>
	<string>799470257929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NIBM.WDP</string>
	<key>PROJECT_ID</key>
	<string>weather-disease-protector</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-disease-protector.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799470257929:ios:e3ea3e034f3b169d42f5d8</string>
	<key>DATABASE_URL</key>
	<string>https://weather-disease-protector-default-rtdb.firebaseio.com</string>
</dict>
</plist>